name: Build & Run Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        c_compiler: [ gcc-14, clang ]
        cpp_std: [ 20, 23 ]
        build_type: [ Release ]
        include:
          - c_compiler: gcc-14
            cpp_compiler: g++-14

          - c_compiler: clang
            cpp_compiler: clang++

    steps:
    - name: Install Dependencies
      shell: bash
      run: sudo apt install -y googletest libgtest-dev

    - uses: actions/checkout@v4

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure
      run: >
        cmake
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DCMAKE_CXX_STANDARD=${{ matrix.cpp_std }}
        -DCMAKE_CXX_STANDARD_REQUIRED=TRUE
        -DCMAKE_CXX_EXTENSIONS=FALSE
        -DQUASAR_CORO_MODULES=TRUE
        -B ${{ steps.strings.outputs.build-output-dir }}
        -S ${{ github.workspace }}
        -G Ninja

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ctest --build-config ${{ matrix.build_type }}
